<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>slideToggle demo</title>
  <style>
  p {
    width: 201px;
  }
  .asc{
    text-decoration: none;
    color: black;
  }

.api-link:hover {
  background-color: grey;
  border-radius: 5px;
}


.active, .api-link:hover {
  background-color: #666;
  color: white;
   border-radius: 5px;
}


.div-pad{
       margin: 17px;
       padding: 30px 39px;
}
.toogle-p{
padding: 20px;
}

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- navabar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="font-family: system-ui;"> </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text" style="position: absolute;left: 1259px;">
      <a class="btn btn-danger" href="{% url 'logout' %}">logout</a>
    </span>
  </div>
</nav>
<!-- navabar-end -->

<!--<input type="text" class="txtInput" id="searchTheKey" placeholder="Enter the keywords to search.....">-->


<div class="container-fluid">
  <h1></h1>
  <div class="row">
    <div class="col-sm-2" id="myDIV">
      <div>
         <p id="mode1" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-one</p>
      </div>
     <div>
        <p id="mode2" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-two</p>
     </div>
     <div>
        <p id="mode3" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-three</p>
     </div>
     <div>
        <p  id="mode4" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-four</p>
     </div>
    </div>





    <div class="col-sm-10" style="background-color:#e9e9e9;border-radius: 5px 57px;min-height: 544px;">
      <br>
      <br>

<div id="matchKey">
<!--first div -->
    <div id="div-one">
      <div  class="container-fluid div-pad">
          <p>in the name isjhdakjkjshdhsdshasbhbsa value should beeeeeee</p>
          <i class="fa fa-toggle-off" id="one" style="font-size:17px">View more</i> <p class="btn btn-info"><a class="asc" href="/documents/?q=CA1">open document</a> </p>
          <br>
            <p class="toogle-p"  id="hello1"  style="display:none;">
            konjum nilaveee konjum inakuuuuuuuuu
            </p>
      </div>

      <div class="container-fluid div-pad">
          <p>THE MODE BE TO SHOW IN THE CORRECT PATH</p>
          <i class="fa fa-toggle-off" id="two" style="font-size:17px">View more</i>
          <p class="btn btn-info"><a class="asc" href="/documents/">open document</a></p><br>
                <p class="toogle-p" id="hello2"  style="display:none;">
                            konjum nilaveee konjum inakuuuuuuuuu
                </p>
      </div>
      <div class="container-fluid div-pad">
          <p>alll is welllllllll avdhsadgvs</p>
            <i class="fa fa-toggle-off" id="three" style="font-size:17px">View more</i>
             <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p>
          <p class="toogle-p" id="hello3"  style="display:none;">
               stuuuuuuuuuuuuuuu
                </p>
      </div>
    </div>
<!--first div-end -->




<!-- second div -->
<div id="div-two" style="display:none;">
  <div  class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
      <i class="fa fa-toggle-off" id="one-one" style="font-size:17px">View more</i> <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p>
      <br>
        <p class="toogle-p"  id="hello1-one"  style="display:none;">
       content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to
       content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to
        </p>
  </div>

  <div class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
      <i class="fa fa-toggle-off" id="two-two" style="font-size:17px">View more</i>
      <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p><br>
            <p class="toogle-p" id="hello2-two"  style="display:none;">
            in the name of jsdhabbsggbj
            hsahhgd favsgfs  sdyghsf
            </p>
  </div>

  <div class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
        <i class="fa fa-toggle-off" id="three-three" style="font-size:17px">View more</i>
         <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p>
      <p class="toogle-p" id="hello3-three"  style="display:none;">
            in the name of jsdhabbsggbj
            hsahhgd favsgfs  sdyghsf
            </p>
  </div>
</div>
<!--seconddiv-end-->





<!--third div -->
<div id="div-three" style="display:none;">
  <div  class="container-fluid div-pad">
      <p>THWW MN ANA NBSHKJANNKJAKJSKJKJKJANSSASAAS</p>
      <i class="fa fa-toggle-off" id="thrid-onetog" style="font-size:17px">View more</i> <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p>
      <br>
        <p class="toogle-p"  id="thridtog1" style="display:none;">
       vbvasbasbnvsavgs hvjasjhajhbsbjhbasnbnbas
        </p>
  </div>

  <div class="container-fluid div-pad">
      <p>SS!))RRBAJSBH MJASJSBBBBADSVVVASBV</p>
      <i class="fa fa-toggle-off" id="thrid-twotog" style="font-size:17px">View more</i>
      <p class="btn btn-info"><a class="asc" href="/documents/">open document</a></p><br>
            <p class="toogle-p" id="thridtog2" style="display:none;">
            agsajhasbvvsfafFSh
                aksjaaaa
            </p>
  </div>

  <div class="container-fluid div-pad">
      <p>GF vADS akj YYTvam afAavvvv</p>
        <i class="fa fa-toggle-off" id="thrid-threetog" style="font-size:17px">View more</i>
         <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p>
      <p class="toogle-p" id="thridtog3" style="display:none;">
            vikranthhhh
            </p>
  </div>
</div>
<!--third div-end -->



<!--fourth div -->
<div id="div-four" style="display:none;">
  <div  class="container-fluid div-pad">
      <p>we are the world </p>
      <i class="fa fa-toggle-off" id="fourth-onetog" style="font-size:17px">View more</i> <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p>
      <br>
        <p class="toogle-p"  id="fourthtog1" style="display:none;">
            we are the children we are the onces to make a brighter day
        </p>
  </div>

  <div class="container-fluid div-pad">
      <p>home place where you can</p>
      <i class="fa fa-toggle-off" id="fourth-twotog" style="font-size:17px">View more</i>
      <p class="btn btn-info"><a class="asc" href="/documents/">open document</a> </p><br>
            <p class="toogle-p" id="fourthtog2" style="display:none;">
            show me some respect
            </p>
  </div>

  <div class="container-fluid div-pad">
      <p>AMG G-wagon</p>
        <i class="fa fa-toggle-off" id="fourth-threetog" style="font-size:17px">View more</i>
         <p class="btn btn-info"><a class="asc" href="/documents/">open document</a></p>
      <p class="toogle-p" id="fourthtog3" style="display:none;">
            INS
            </p>
  </div>
</div>
<!--fourth div-end -->
</div>

















    </div>
  </div>
</div>



















 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="margin: 66px;
    padding: 57px;
    border-radius: 10px;">
        <div class="modal-header">
          <h4 class="modal-title">user have to login in the page</h4>
        </div>
        <div class="modal-body">
          <a class="btn btn-primary" href="{% url 'register' %}">click here to register</a><br><br><br>
          <a class="btn btn-danger" href="{% url 'login' %}">if you have an account please login</a></button><br>

        </div>
      </div>

    </div>
  </div>





<script>



$(document).ready(function(){

     if ("{{to}}" == "mode-two") {
     $('#mode2').trigger('click');
     }
     else if ("{{to}}" == "mode-three") {
     $('#mode3').trigger('click');
     }
     else if ("{{to}}" == "mode-four") {
     $('#mode4').trigger('click');
     }
    else {
        $('#mode1').addClass('active');
        $("#div-one").show();
    }
//for modal
  if ("{{showmodal}}"=="True") {
     $("#myModal").modal({backdrop: 'static', keyboard: false});
}
});




$("#mode1").click(function(){
    $('.api-link-btn').removeClass('active').addClass('inactive');
     $(this).removeClass('inactive').addClass('active');
    $("#div-one").show();
    $("#div-two").hide();
    $("#div-three").hide();
    $("#div-four").hide();
    });


$("#mode2").click(function(){
    console.log("=============")
    $('.api-link-btn').removeClass('active').addClass('inactive');
     $(this).removeClass('inactive').addClass('active');
    $("#div-two").show();
    $("#div-one").hide();
    $("#div-three").hide();
    $("#div-four").hide();

});

$("#mode3").click(function(){
    $('.api-link-btn').removeClass('active').addClass('inactive');
     $(this).removeClass('inactive').addClass('active');
    $("#div-three").show();
    $("#div-two").hide();
    $("#div-one").hide();
    $("#div-four").hide();
});

$("#mode4").click(function(){
    $('.api-link-btn').removeClass('active').addClass('inactive');
     $(this).removeClass('inactive').addClass('active');
     $("#div-four").show();
    $("#div-three").hide();
    $("#div-two").hide();
    $("#div-one").hide();
});



//search functionality//

   $("#searchTheKey").on('keyup', function(){
      var value = $(this).val().toLowerCase();
      $("#matchKey p").each(function () {
         if ($(this).text().toLowerCase().search(value) > -1) {
            $(this).show();
            $(this).prev('.div-pad').last().show();
         } else {
            $(this).hide();
         }
      });
   })
// end-search//







</script>
<script src="{%static '/jsfiles/demo.js' %}"></script>
</body>
</html>