<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://onpay.io/sdk/v1.js"></script>
<body>
<form method="post" action="https://onpay.io/window/v3/" accept-charset="UTF-8">
    <input type="text" name="onpay_gatewayid" value=""><br>
    <input type="text" name="onpay_currency" value="DKK"><br>
    <input type="text" name="onpay_amount" value="12000"><br>
    <input type="text" name="onpay_reference" value="AF-847824"><br>
    <input type="text" name="onpay_hmac_sha1" value="f31dc4b392c6a7a25815e3e2bc39bc0fe02cc5a7"><br>
    <input type="text" name="onpay_accepturl" value="https://example.com/accept"><br>
    <input type="submit" value="Start payment of 120.00 DKK">
</form>
</body>
<script src="https://onpay.io/sdk/v1.js"></script>
</html>