<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>slideToggle demo</title>
  <style>
  p {
    width: 201px;
  }
.api-link:hover {
  background-color: grey;
  border-radius: 5px;
}


.active, .api-link:hover {
  background-color: #666;
  color: white;
   border-radius: 5px;
}


.div-pad{
       margin: 17px;
       padding: 30px 39px;
}
.toogle-p{
padding: 20px;
}

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- navabar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="font-family: system-ui;"> </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text" style="position: absolute;left: 1259px;">
      <a class="btn btn-danger" href="{% url 'logout' %}">logout</a>
    </span>
  </div>
</nav>
<!-- navabar-end -->




<div class="container-fluid">
  <h1></h1>
  <div class="row">
    <div class="col-sm-2" id="myDIV">
      <div>
         <p id="mode1" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-one</p>
      </div>
     <div>
        <p id="mode2" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-two</p>
     </div>
     <div>
        <p id="mode3" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-three</p>
     </div>
     <div>
        <p  id="mode4" class="api-link-btn api-link" style="margin: 31px;padding: 14px;">mode-four</p>
     </div>
    </div>





    <div class="col-sm-10" style="background-color:#e9e9e9;position: relative;
    height: auto;border-radius: 5px 57px;">
      <br>
      <br>

    <div id="div-one">
      <div  class="container-fluid div-pad">
          <p>in the name isjhdakjkjshdhsdshasbhbsa value should beeeeeee</p>
          <i class="fa fa-toggle-off" id="one" style="font-size:17px">View more</i> <p class="btn btn-info">open document</p>
          <br>
            <p class="toogle-p"  id="hello1">
            konjum nilaveee konjum inakuuuuuuuuu
            </p>
      </div>

      <div class="container-fluid div-pad">
          <p>THE MODE BE TO SHOW IN THE CORRECT PATH</p>
          <i class="fa fa-toggle-off" id="two" style="font-size:17px">View more</i>
          <p class="btn btn-info">open document</p><br>
                <p class="toogle-p" id="hello2">
                            konjum nilaveee konjum inakuuuuuuuuu
                </p>
      </div>
      <div class="container-fluid div-pad">
          <p>alll is welllllllll avdhsadgvs</p>
            <i class="fa fa-toggle-off" id="three" style="font-size:17px">View more</i>
             <p class="btn btn-info">open document</p>
          <p class="toogle-p" id="hello3">
               stuuuuuuuuuuuuuuu
                </p>
      </div>
    </div>

<!-- second div -->
<div id="div-two" style="display:none;">
  <div  class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
      <i class="fa fa-toggle-off" id="one-one" style="font-size:17px">View more</i> <p class="btn btn-info">open document</p>
      <br>
        <p class="toogle-p"  id="hello1-one">
       content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to
       content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to
        </p>
  </div>

  <div class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
      <i class="fa fa-toggle-off" id="two-two" style="font-size:17px">View more</i>
      <p class="btn btn-info">open document</p><br>
            <p class="toogle-p" id="hello2-two">
            in the name of jsdhabbsggbj
            hsahhgd favsgfs  sdyghsf
            </p>
  </div>

  <div class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
        <i class="fa fa-toggle-off" id="three-three" style="font-size:17px">View more</i>
         <p class="btn btn-info">open document</p>
      <p class="toogle-p" id="hello3-three">
            in the name of jsdhabbsggbj
            hsahhgd favsgfs  sdyghsf
            </p>
  </div>
</div>



<!--third div -->
<div id="div-three">
  <div  class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
      <i class="fa fa-toggle-off" id="three-one" style="font-size:17px">View more</i> <p class="btn btn-info">open document</p>
      <br>
        <p class="toogle-p"  id="three-toggle">
       content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to
       content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to
        </p>
  </div>

  <div class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
      <i class="fa fa-toggle-off" id="three-two" style="font-size:17px">View more</i>
      <p class="btn btn-info">open document</p><br>
            <p class="toogle-p" id="three-toggle1">
            in the name of jsdhabbsggbj
            hsahhgd favsgfs  sdyghsf
            </p>
  </div>


  <div class="container-fluid div-pad">
      <p>content is in the middle. It includes all the evidence you need to make the point. However, this evidence needs to</p>
        <i class="fa fa-toggle-off" id="three-3" style="font-size:17px">View more</i>
         <p class="btn btn-info">open document</p>
      <p class="toogle-p" id="three-toggle3">
            in the name of jsdhabbsggbj
            hsahhgd favsgfs  sdyghsf
            </p>
  </div>
</div>
<!--third div-end -->






















    </div>
  </div>
</div>




























<!--toggle-->
<!--<button id="one">Toggle 1</button>-->
<!--<p id="hello1">-->
<!--hellooooooooooooiammmmmmmmmmmmmmmmmmmmmmmm-->
<!--</p><br><br>-->

<!--<button id="two">Toggle 2</button>-->
<!--<p id="hello2">-->
<!--in the name of jsdhabbsggbj-->
<!--    hsahhgd favsgfs  sdyghsf-->
<!--</p>-->
<!--toggle-end-->














 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="margin: 66px;
    padding: 57px;
    border-radius: 10px;">
        <div class="modal-header">
          <h4 class="modal-title">user have to login in the page</h4>
        </div>
        <div class="modal-body">
          <a class="btn btn-primary" href="{% url 'register' %}">click here to register</a><br><br><br>
          <a class="btn btn-danger" href="{% url 'login' %}">if you have an account please login</a></button><br>

        </div>
      </div>

    </div>
  </div>




<script src="{%static '/jsfiles/demo.js' %}"></script>
<script>

//for modal

$(document).ready(function(){
  if ("{{showmodal}}"=="True") {
     $("#myModal").modal({backdrop: 'static', keyboard: false});
}
});


$(document).ready(function(){
    $("#div-one").show();

$("#mode1").click(function(){
    $('.api-link-btn').removeClass('active').addClass('inactive');
     $(this).removeClass('inactive').addClass('active');
    $("#div-one").show();
    $("#div-two").hide();
    });

$("#mode2").click(function(){
    $('.api-link-btn').removeClass('active').addClass('inactive');
     $(this).removeClass('inactive').addClass('active');
    $("#div-two").show();
    $("#div-one").hide();

});
});









</script>

</body>
</html>